.article {
  margin-bottom: 100px;
  &__promo {
    &_promoted {
      width: 114.3%;
      margin-bottom: 100px;
      position: relative;
      right: 7.15%;
    }
  }

  &__category {
    display: block;
    margin-top: 1em;
  }

  &__title {
    @include article-title;
  }

  &__text {
    @include text;
    white-space: pre-wrap;
    &_promoted {
      white-space: normal;
    }
  }

  &__link {
  text-decoration: none;
  @include article-category;
  }
}