.button {
  width: 164px;
  height: 60px;
  border: 1px solid $color-text;
  background-color: transparent;
  &:hover {
  background-color: $color-signup;
  }

  &_link {
    text-decoration: none;
    @include font-ubuntu-thin;
    &:hover {
      opacity: 0.4;
    }
  }
  
  &__text {
    @include font-playfair-lg;
  }
}