.input-form {
  &__label {
    @include text;
    position: relative;
    pointer-events: none;
    left: 5px;
    bottom: 32px;
    transition: 300ms ease all;
  }
  &__email-input {
    background: none;
    @include inserted-text;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid $color-title;
    &:focus {
      outline: none;
    }
    &:focus ~ .input-form__label,
    &:valid ~ .input-form__label {
      bottom: 60px;
    }
  }
  &__submit-icon {
    position: relative;
    left: 384px;
    top: 40px;
  }
}