.navigation {
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  &__item {
    @include navigation-item;
    margin-left: 70px;
  }
}

@media all and (max-width: 768px) {
  .navigation{
    justify-content: space-between;
    padding-left: 30px;
    &__item {
      margin: 0;
    }
  }
}