.social {
  &__links {
    &_link-style {
      text-decoration: none;
      @include footer-item;
    }
    &_icon {
      margin-left: 10px;
      padding: 8px 12px;
      &-facebook {
        background: url(../../assets/facebook-icon.svg) no-repeat;
      }
      &-twitter {
        background: url(../../assets/twitter-icon.svg) no-repeat;
      }
      &-instagram {
        padding: 12px 16px;
        background: url(../../assets/instagram-icon.svg) no-repeat;
      }
    }
  }
}