.button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    @include font-opensans-semi-bold-md;
    color: $color-title-light;
  }

  &_promoted {
    background-color: $color-brand;
    border-radius: 2px;
    border: none;
  }

  &_wide {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }
}