.option {
  width: 340px;
  &__title {
    background-color: $color-subtitle-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    &_head {
      height: 60px;
      @include font-opensans-bold-lg;
      color: $color-title-light;
      line-height: 24px;
      margin-bottom: 1px;
    }

    &_text {
      height: 100px;
      @include font-raleway-bold;
      color: $color-title-light;
    }

    &_currency {
      @include font-raleway-bold;
      @include font-raleway-sm;
      color: $color-title-light;
    }

    &_subtitle {
      height: 50px;
      @include font-opensans-semi-bold-italic;
      @include font-opensans-semi-bold-sm;
      color: $color-text;
    }
  }

  &__status-bar {
    background-color: $color-brand;
    height: 5px;
  }

  &__item {
    height: 40px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-default;
    @include font-opensans-regular-md;
    @include font-upper;
    color: $color-text;

    &_promoted {
      background-color: $color-brand;
      color: $color-title-light;
      @include font-opensans-bold-sm;
    }
  }
}