$color-brand: #ff6d6d;
$color-triangle-background: #ececec;
$color-text-main: #282828;
$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-form-text: #f6f5f3;
$color-form-bg: #323969;
$color-input-inner: #454d74;
$color-subscribe: #8d8d8d;
$color-subscribe-border: #4e4e5e;

