.wrapper_border-black {
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
}

.wrapper_border-white {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/images/working.png);
  background-repeat:  round;
  width: 100%;
  height: 100vh;
}

.header__work-with {
  color: #ffffff;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.75px;
}

.header__weve-been {
  color: #ffffff;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 19.33px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.header__mouse {
  position: relative;
  top: 18%;
}

.about-us {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: 46.875%;
  background: linear-gradient(to right, #3c3c3c 0%, #3c3c3c 25%, transparent 25%, transparent 75%, #3c3c3c 75%, #3c3c3c 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.about-us__title {
  /* Style for "ABOUT US" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "ABOUT US" */
  letter-spacing: 5.97px;
  position: relative;
  bottom: 4%;
}

.about-us__text {
/* Style for "When you w" */
color: #3c3c3c;
font-family: Lato;
font-size: 11px;
font-weight: 300;
line-height: 16px;
margin: 6% 18%;
}

.services {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/services.png);
  background-repeat: round;
}

.services__wrapper {
  margin: 115px auto;
  text-align: center;
  box-sizing: border-box;
  width: 46.875%;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.services__title {
  /* Style for "SERVICES" */
    content: 'services';
    color: #ffffff;
    font-family: Lato;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "SERVICES ," */
    letter-spacing: 5.97px;
    position: relative;
    bottom: 4%;
}

.services__text {
  /* Style for "Before we" */
  color: #ffffff;
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 17.26px;
  margin: 40px 18%;
}

.what-we-do {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.what-we-do__wrapper {
  box-sizing: border-box;
  width: 46.875%;
  background: linear-gradient(to right, #3c3c3c 0%, #3c3c3c 25%, transparent 25%, transparent 75%, #3c3c3c 75%, #3c3c3c 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.what-we-do__title {
  /* Style for "what we do" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "what we do" */
  letter-spacing: 5.97px;
  position: relative;
  bottom: 1.5%;
}

.what-we-do__item {
  margin: 40px 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.what-we-do__item-title {
  /* Style for "DESIGN" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "DESIGN" */
  letter-spacing: 3.51px;
  align-self: center;
}

.what-we-do__item-text {
  /* Style for "Planning a" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 9px;
  font-weight: 300;
  line-height: 17.26px;
}

.navigation-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.nav-block {
  width: 28.646%;
  height: 237px;
  margin: 5px 0;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.nav-block:hover {
  opacity: 0.8;
}

.nav-block__center {
  flex: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-block__name {
  margin-bottom: 43px;
  margin-left: 45px;
  /* Style for "lable" */
  color: #ffffff;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "lable" */
  letter-spacing: 5.97px;
}

.topworkz {
  background-image: url('../assets/images/topworkz.png');
  background-repeat: round;
}

.joint {
  background-image: url('../assets/images/joint.png');
  background-repeat: round;
}

.market {
  background-image: url('../assets/images/market.png');
  background-repeat: round;
}

.worktop {
  background-image: url('../assets/images/worktop.png');
  background-repeat:  round;
}

.label {
  background-image: url('../assets/images/label.png');
  background-repeat: round;
}

.kyiv {
  background-image: url('../assets/images/Kyiv.png');
  background-repeat: round;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contact-us__wrapper {
  box-sizing: border-box;
  width: 46.875%;
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(to right, #3c3c3c 0%, #3c3c3c 25%, transparent 25%, transparent 75%, #3c3c3c 75%, #3c3c3c 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us__title {
  /* Style for "CONTACT us" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "CONTACT us" */
  letter-spacing: 3.17px;
  position: relative;
  bottom: 5%;
}

.contact-us__text {
  /* Style for "Planning a" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 17.26px;
  margin: 0 18%;
}

.button {
  /* Style for "Message co" */
  width: 43.833%;
  height: 58px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  margin: 5% 18%;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: transparent;
  cursor: pointer;
}

.button:hover .button__content {
  color: #3c3c3c;
}

.button__content {
/* Style for "CONTACT us" */
color: #ffffff;
font-family: Lato;
font-size: 11px;
font-weight: 400;
text-transform: uppercase;
/* Text style for "CONTACT us" */
letter-spacing: 1.69px;
}

.contact-us__copyright {
  box-sizing: border-box;
  width: 46.875%;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us__copyright-text {
  /* Style for "© 2014. Al" */
  color: #3c3c3c;
  font-family: Lato;
  font-size: 9px;
  font-weight: 400;
}

.contact-us__copyright-text::before {
  content: url(../assets/images/ellipse_bottom.png);
  position: relative;
  top: 10px;
  right: 30px;
}

@media all and (max-width: 768px) {
  .navigation-blocks {
    flex-direction: column;
    align-items: center;
  }
  .nav-block {
    width: 100%;
  }
} 