.wrapper_border-dark {
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
  background: linear-gradient(to right, #3c3c3c 0%, #3c3c3c 25%, transparent 25%, transparent 75%, #3c3c3c 75%, #3c3c3c 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.wrapper_border-light {
  color: #ffffff;
  border-left: 2px solid ;
  border-right: 2px solid ;
  border-bottom: 2px solid ;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.content-block_color-dark{
  color: #3c3c3c;
}

.content-block_color-light{
  color: #ffffff
}

.content-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-block_header-background {
  background-image: url(../assets/images/working.png);
  background-repeat: round;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  margin: auto;
}

.content-block_main-title {
  color: #ffffff;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.75px;
}

.content-block_main-title-content {
  color: #ffffff;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 19.33px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  white-space: pre-wrap;
}

.wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: 46.875%;
}

.content-block_title{
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.97px;
  width: 50%;
  margin: auto;
  transform: translateY(-50%);
}

.content-block_content{
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 17.26px;
  white-space: pre-wrap;
  margin: auto 16%;
}

.header__mouse {
  position: relative;
  top: 18%;
}

.content-block_about-us {
  margin: 100px auto;
}

.about-us__text {
font-family: Lato;
font-size: 11px;
font-weight: 300;
line-height: 16px;
margin: 6% 18%;
white-space: pre-wrap;
}

.content-block_services {
  background-image: url(../assets/images/services.png);
  background-repeat: round;
  max-width: 1920px;
  margin: auto;
}

.services__wrapper {
  margin: 115px auto;
}

.services__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 17.26px;
  margin: 40px 18%;
  white-space: pre-wrap;
}

.list {
  margin: 100px auto;
}

.list__item {
  margin: 20px 18%;
}

.list__item_title {
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.51px;
  align-self: center;
  margin: 1em auto;
}

.list__item_content {
  font-family: Lato;
  font-size: 9px;
  font-weight: 300;
  line-height: 17.26px;
  white-space: pre-wrap;
}

.navigation-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.nav-block {
  width: 28.646%;
  height: 237px;
  margin: 5px 0;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.nav-block:hover {
  opacity: 0.8;
}

.nav-block_center {
  flex: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-block__name {
  margin-bottom: 43px;
  margin-left: 45px;
  text-align: left;
}

.topworkz {
  background-image: url('../assets/images/topworkz.png');
  background-repeat: round;
}

.joint {
  background-image: url('../assets/images/joint.png');
  background-repeat: round;
}

.market {
  background-image: url('../assets/images/market.png');
  background-repeat: round;
}

.worktop {
  background-image: url('../assets/images/worktop.png');
  background-repeat:  round;
}

.label {
  background-image: url('../assets/images/label.png');
  background-repeat: round;
}

.kyiv {
  background-image: url('../assets/images/Kyiv.png');
  background-repeat: round;
}

.contact-info {
  margin-top: 100px;
}

.contact-info__wrapper {
  margin-bottom: 50px;
  align-items: center;
}

.contact-info_title {
  font-size: 20px;
  letter-spacing: 3.17px;
}

.contact-info__button {
  width: 43.833%;
  height: 58px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  margin: 5% 18%;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contact-info__button:hover {
  background-color: transparent;
  cursor: pointer;
}

.contact-info__button:hover .contact-info__button-content {
  color: #3c3c3c;
}

.contact-info__button-content {
font-family: Lato;
font-size: 11px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 1.69px;
}

.footer-info {
  margin-bottom: 50px;
  align-items: center;
}

.footer-info_text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 9px;
  font-weight: 400;
}

.footer-info_text::before {
  content: url(../assets/images/ellipse_bottom.png);
  position: relative;
  top: 10px;
  right: 30px;
}

@media all and (max-width: 768px) {
  .navigation-blocks {
    flex-direction: column;
    align-items: center;
  }
  .nav-block {
    width: 100%;
  }
  .nav-block_center{
    margin: 5px 0;
  }
} 