.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10%;

  &__category {
    @include font_Exo_md_uppercase;
    color: $color-brand;
  }

  &__title {
    @include font_Exo_xl;
    margin-top: 0;
  }

  &__content {
    @include font_Exo_md;
    color: $color-text-main;
    opacity: 0.66;
    &_narrow {
      padding: 0 250px;
    }
  }

  &__articles-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_bg-images {
    height: 675px;
    padding: 5% 10%;
    background: url(../../assets/Pen_holder.png) 10% 0 no-repeat, url(../../assets/Earphones.png) 90% -2% no-repeat, url(../../assets/Coffee_Cup.png) 90% 100% no-repeat;
  }

  &_bg-dark {
    background-color: $color-form-text;
  }

  &__dots {
    @include dots;
  }

  &_full-height {
    padding-bottom: 0;
    padding-top: 5%;
  }
}