.footer {
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-bottom: 230px solid transparent;
    border-right: 230px solid $color-brand;
    opacity: 0.8;
  }

  display: flex;
  flex-shrink: 0;
  position: relative;
}